<div class="home-container">
  <!-- 🔍 Search Form -->
  <div class="home-card">
    <h1>🌤️ Weather App</h1>

    <form class="search-form" (submit)="searchWeather(); $event.preventDefault()">
      <input [(ngModel)]="city" name="city" placeholder="Nama Kota" />
<!-- <input [(ngModel)]="kabupaten" name="kabupaten" placeholder="Nama Kabupaten (opsional)" /> -->

      <button type="submit">Search</button>
    </form>

    <div *ngIf="showError" class="error-message">
      Tolong isi terlebih dahulu nama kota!
    </div>
  </div>

  <!-- 🌦️ Weather and Map -->
  <div class="info-container" *ngIf="weatherData">
    <app-weather
      [data]="weatherData"
      [forecast]="forecastData"
      [coordinates]="coordinates"
    ></app-weather>
  </div>
</div>
